body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
    align-items:center;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video-container {
    margin-top: 20px;
}
